#ann
{
  /*border: 1px solid black;*/
  /*margin-bottom: -400px;*/
  /*margin-bottom: -100px;
  background-color:grey;*/
   margin-top: 200px;
  /*height: 500px;*/
  padding: 50px;
}

#search_cv
{
  /*border: 1px solid black;*/
  margin-top: 100px;
  height: 500px;
  padding: 50px;
  /*width: 40%;*/
}

#tittl
{
  width: 30%;
}

#pict
{
  width: 50%;
   margin-top: -500px;
   margin-left: 600px;
}